*.o
*.lo
*.la
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache
test-driver
test-suite.log

ofono.pc
include/ofono
include/version.h
src/builtin.h
src/ofonod
src/ofono.service
dundee/dundee
dundee/dundee.service

test-driver
unit/test-common
unit/test-util
unit/test-idmap
unit/test-sms
unit/test-sms-root
unit/test-simutil
unit/test-mux
unit/test-caif
unit/test-stkutil
unit/test-cdmasms
unit/test-grilreply
unit/test-grilrequest
unit/test-grilunsol
unit/test-mnclength
unit/test-mtkreply
unit/test-mtkrequest
unit/test-mtkunsol
unit/test-rilmodem-cs
unit/test-rilmodem-sms
unit/test-rilmodem-cb
unit/test-*.log
unit/test-*.trs

tools/huawei-audio
tools/auto-enable
tools/get-location
tools/lookup-apn
tools/lookup-provider-name
tools/tty-redirector
tools/qmi
tools/stktest

gatchat/gsmdial
gatchat/test-server
gatchat/test-qcdm
