*.o
*.lo
*.la
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

include/ofono
include/version.h
src/ofonod
src/ofono.exp
src/ofono.ver
plugins/builtin.h
drivers/builtin.h

unit/test-common
unit/test-util
unit/test-sms
unit/test-simutil
