*.o
*.lo
*.la
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

ofono.pc
include/ofono
include/version.h
src/builtin.h
src/ofonod
src/ofono.service

plugins/*-ofono.rules

unit/test-common
unit/test-util
unit/test-idmap
unit/test-sms
unit/test-simutil
unit/test-mux
unit/test-caif
unit/test-stkutil

tools/huawei-audio
tools/auto-enable
tools/get-location

gatchat/gsmdial
gatchat/test-server
gatchat/test-qcdm
