Luiz Augusto von Dentz <luiz.dentz-von@nokia.com>	<luiz.dentz-von@nokia.com>
Zhenhua Zhang <zhenhua.zhang@intel.com>			<zhenhua.zhang@intel.com>
Pekka Pessi <pekka.pessi@nokia.com>			<Pekka.Pessi@nokia.com>
Pekka Pessi <pekka.pessi@nokia.com>			<ppessi@hamsa.research.nokia.com>
Lasse Kunnasluoto <lasse.kunnasluoto@tieto.com>		<Lasse.Kunnasluoto@tieto.com>
Syam Sidhardhan <s.syam@samsung.com>			<syamsidhardh@gmail.com>
Michael Dietrich <mdt@emdete.de>			<mdt@emdete.de>
